@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

$font-family:'Spartan', sans-serif;
$background-lighter:hsl(180, 52%, 96%);
$background-darker: hsl(180, 29%, 50%);
$color: hsl(180, 31%, 95%);
$gray: hsl(180, 8%, 52%);
$dark: hsl(180, 14%, 20%);
